.banner {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner h2 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.banner p {
  max-width: 900px;
  color: rgba(255, 255, 255, 0.5);
}

.hardwareking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  padding: 3rem;
  width: 350px;
  text-align: center;
  height: 650px;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
  border-radius: 1rem;
  background: transparent
    radial-gradient(closest-side at 50% 50%, #2e2e2e 0, #191919 100%) 0 0
    no-repeat padding-box;
}

.hardwareking h2{
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

.hardwareking p{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.hardwareking button{
    border: none;
    padding: 2rem;
    border-radius: 5rem;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.productCard{
  width: 350px;
  min-width: 350px;
  height: 650px;
  border: 2px solid transparent;
  transition: border .2s ease-in-out;
  border-radius: 1rem;
  background: transparent radial-gradient(closest-side at 50% 50%,#2e2e2e 0,#191919 100%) 0 0 no-repeat padding-box;
}

.productCard:hover{
  border: 2px solid #ccc;
}

.productCard{
  padding: 2rem;
}

.productCard button{
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

.title{
  font-weight: 600;
  font-size: 2rem;
}

.priceContent{
  display: flex;
  gap: 1rem;
}

.price{
  font-weight: 600;
}

.priceDiscount{
  color: #ff2147;
  font-weight: 600;
  text-decoration: line-through;
}

.productCard ul{
  padding: 1.5rem;
}

.productCard picture{
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}


.productCard picture img{
  width: 100%;
  transition: all .5s;
}

.productCard:hover picture img{
  transform: scale(1.2);
}